@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-BlueP: #0075ff;
  --color-BlueDark: #0F1A30;
  --color-BlueLight: #E1E8F0;
  --color-GrayP: #364052;
  --font-Lato: "Lato", sans-serif;
  --font-Libre: "Libre Franklin", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.maxW{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2%;
}

p,a,h3{
  font-family: "Lato", sans-serif;
}

h1,h2{
  font-family: "Libre Franklin", sans-serif;
}

body, html {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.bgMain{
  background-image: url('/slider-2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bgContact{
  background-image: url('/contact-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgTeam1{
  background-image: url('/team-1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgFeedback{
  background-image: url('/feedback-1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
